@import "~bootstrap/scss/bootstrap";

nav.navbar {
    height: 70px;
    z-index: 1;
}

main.main {
    height: calc(100vh - 70px);
    overflow-y: auto;
}
main a {
  text-decoration: none;
}

th {
  width: 20px;
}

.rotate-180 {
  transform: rotate(180deg);
}